/* 
for SP
*/


@import url('style.css');

@media only screen and (max-width: 1400px) {
	.load {
    	display: none;
    }
    .ctr {
    	display: block;
    }
    #mainMv {
    	width: 100%;
        height: 1000px;
        background-color: #038CD3;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 1000px) {
	body {
    	min-width: 100%;
        font-size: 15px;
    }
    
    .main-navigation ul,
    .site-branding,
    #primary,
    .allpost .wrap-blog,
	.single-post .wrap-blog,
    #colophon .site-info {
        width: 100%;
        margin: auto;
    }
    .members .wrap-type,
    .single-member #primary,
    .page-template-default #primary {
    	padding-left: 0.8em;
        padding-right: 0.8em;
    }
    .allpost .wrap-blog,
	.single-post .wrap-blog {
    	width: 98%;
        margin: auto;
    }
    .allpost #primary,
    .single-post #primary {
    	width: 70%;
    }
    
    .main-navigation ul {
    	padding-left: 0;
        font-size: 0.9em;
    }
    .main-navigation li {
    	width: 14%;
    }
    .main-navigation li:first-of-type {
    	width: 16%;
    }
    
    
    .table {
    	font-size: 0.9em;
    }
    .outline .wrap-right p {
		margin: 1.0em 0 0 0.5em;
	}
    .outline section .font i[class*="icon-"],
	.outline section .font i[class*="devicon-"] {
		font-size: 2.4em;
	}
    .outline section:last-of-type .font i {
    	font-size: 3em;
    }
    
    .greeting section img {
    	margin: 0 0 2em 2em;
    }
    
    /*member */
    .members .page-header h1.entry-title {
    	margin-right: 1em;
    }
    .members article h3 {
    	font-size: 1.2em;
    }
    .members .wrap-img {
    	height: 140px;
    }
    .single-member section.message {
    	height: 265px;
    }
    .single-member .message div p {
    	font-size: 1em;
    }
    
    /* blog */
    .author-post .wrap-thumb {
    	height: 100px;
    }
    .author-post h4.entry-title {
    	font-size: 0.9em;
    }
    .author-single h3 {
    	font-size: 1em;
    }
    
    /* Footer */
    .footer-menu ul li {
    	font-size: 0.85em;
        margin-right: 1em;
    }
    .site-info address p a {
    	color: #fff;
    }
    
}	

@media only screen and (max-width: 800px) { /* iPad */
	
    
    
}

/* 6+ LandScape/ 6 LandScape/ 5s LandScape(570px) */
@media only screen and (max-width: 750px) {
	
    body {
    	font-size: 14px;
    }
    
    .site-branding h1.site-title {
    	margin: 20px 0 13px;
    }
    .wrap-head {
    	border-bottom: 8px solid #0094DE;
        text-align: center;
    }
    .wrap-head .fa-bars {
    	display: inline-block;
        //width: 1em;
    	font-size: 3.3em;
        //float: right;
        margin: 0.2em auto 0.1em;
        color: #0094DE;
        //border: 1px solid red;
    }
    .main-navigation {
    	display: none;
        margin: 0;
        //box-shadow: 1px 0 3px #777 inset, -1px 0 3px #777 inset;
    }
    .main-navigation li {
    	float: none;
        width: 100%;
        border-width: 0 0 1px 0;
        text-align: left;
        height: auto;
        font-size: 1.3em;
    }
    .main-navigation li:first-of-type {
    	width: 100%;
        border-left: 0;
    }
    .main-navigation li a {
    	padding: 0.3em 0 0.3em 2.5em;
    }
    .main-navigation li:first-of-type a {
    	padding-top: 0;
    }
	.main-navigation li a.crnt {
    	//padding-left: 2.4em;
    }
    .main-navigation li a .fa {
        display: inline;
        color: #fff;
        margin-right: 1.4em;
    }
    .main-navigation li a.crnt .fa {
        display: inline;
        color: turquoise;
    }
    
    .line {
    	width: 100%;
    }
    
    .about section p.exp {
    	padding: 0.7em;
    }
    .about section h2 {
    	font-size: 2.4em;
    }
    .about .slide-sec {
    	min-height: 100px;
    }
    
    .fix.outline section {
    	margin-top: 0;
    }
    .outline .wrap-right {
        float: none;
        width: 100%;
        padding: 0.7em 0 0 1em;
		margin-top: 0.5em;
    }
    .outline section .font {
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 0;
    }
    .outline section .font i[class*="icon-"],
	.outline section .font i[class*="devicon-"] {
		font-size: 2.8em;
	}
    .outline section:last-of-type .font i {
    	font-size: 3.3em;
    }
    .outline section h2 {
    	font-size: 2.4em;
    }
    
    .recruit section.sec-btn {
    	margin-top: 0;	
    }
    .recruit section.sec-btn > div {
    	width: 100%;
        float: none;
    }
    .recruit section.check ul {
    	margin-left: 0;
        margin-bottom: 0;
        padding-left: 0;
    }
    
    .greeting section > div {
    	width: 100%;
    }
    
    .contact input {
    	width: 100%;
    }
    .contact section:first-of-type {
    	width: 100%;
    }
    div.wpcf7 {
    	width: 100%;
    }
    
    .members .page-header h1.entry-title {
    	margin-right: 0.2em;
        font-size: 1.5em;
    }
    .members article {
    	float: none;
        width: 100%;
    }
    .members h2 {
    	font-size: 2.4em;
    }
    .members article h3 {
    	font-size: 1.8em;
    }
    .members article span {
    	top: -2px;
        font-weight: bold;
        font-size: 1.2em;
    }
    .members .wrap-img {
    	height: 200px;
    }
    .members div.wrap-type {
    	margin-bottom: 2.5em;
    }
    .single-member section.message {
    	height: auto;
    }
    .single-member .message img {
        display: inline-block;
        width: 100%;
        float: none;
    }
    .single-member .message div {
        width: 100%;
        float: none;
        height: auto;
        margin-top: 0;
    }
    .single-member section dl {
    	margin: 0.7em 0 0.7em 0.7em; 
    }
    .single-member section dd {
    	margin: 0;
        padding: 0;
    }
    .single-member .prof img {
        width: 100%;
        float: none;
    }
    .single-member .prof img + div {
        width: 100%;
        float: none;
    }
    
    .author-post article {
    	width: 100%;
        float: none;
        margin-bottom: 1.5em;
    }
    .author-post .wrap-thumb {
    	height: 150px;
    }
	.author-post h4.entry-title {
    	font-size: 1.2em;
    }
    
    
    .greeting section img {
		width: 100%;
    	margin: 0 0 2em 0;
    }
    
    .allpost #primary,
    .single-post #primary {
        width: 100%;
        float: none;
    }
    .allpost #secondary,
	.single-post #secondary {
		width: 100%;
    	float: none;
        margin-top: 3em;
    }
    .allpost .wrap-blog,
	.single-post .wrap-blog {
    	padding: 0.5em 0.5em 0.5em 0;
        width: 97%;
    }
    .allpost .wrap-thumb {
    	width: 100%;
        margin-bottom: 0.8em;
    }
    .allpost .entry-header,
    .allpost .entry-content {
        width: 100%;
        float: none;
    }
    .allpost .entry-header {
    	//margin-top: 2.8em;
    }
    .author-single h3,
    .widget-area section h2.widget-title {
    	font-size: 1.3em;
    }
    
    .table .cth {
    	width: 20%;
    }
    .table th,
    .recruit .table th {
    	padding-left: 0;
    }
    
    .site-info address p {
        margin-top: 1.5em;
    }
	
    .footer-menu ul li {
    	margin-right: 0.8em;
    }
    
    .top_btn {
    	width: 2.9em;
        height: 2.9em;
        line-height: 2.9em;
    }
    .top_btn .fa {
    	font-size: 2em;
    }
    
}

@media only screen and (max-width: 500px) { /* Portlait: iPhone6+ /6/ 5s */
	.site-info > div:last-of-type {
    	width: 35%;
        float: right;
        margin-top: 1.8em;
        margin-right: 1.2em;
    }
    .site-info address p {
    	margin-top: 1.7em;
    }
    .footer-menu {
    	display: block;
        width: 45%;
        float: left;
        font-size: 1.1em;
        margin-left: 2em;
    }
    .footer-menu ul {
    	width: auto;
        margin-bottom: 2em;
    }
    .footer-menu ul li {
    	float: none;
        width: 100%;
        text-align: left;
        margin-bottom: 0.8em;
        font-size: 1.0em;
    }
	

}
@media only screen and (max-width: 400px) { /* 6 */
	
}

@media only screen and (max-width: 320px) { /* 5s */
	body {
    	font-size: 13px;
    }
    
    .about section h2 {
    	font-size: 2.2em;
    }
    .recruit section.check h2 {
    	font-size: 1.8em;
    }
    .table th {
    	font-size: 0.85em;
    }
    .site-info address p {
    	font-size: 0.9em;
        padding-left: 0;
    }
    

}



